<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/shared.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Portales Theatre</title>
</head>
<body>
    <header class="primary_header">
        {% include 'theatre/partials/header.html' %}
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="flash_{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    {% if current_user.authenticated %}
        {% include 'theatre/partials/shopping_cart.html' %}
    {% endif %}
    <main class="maincontent">
        {% block main %}

        {% endblock %}
    </main>
    <footer class="primary_footer">
        {% include 'theatre/partials/footer.html' %}
    </footer>
</body>
</html>
