<nav class="navmenu">
    <ul class="navmenu_list">
        <li class="navmenu_element"><a href="{{url_for('theatre.index')}}" class="navmenu_link">Leave Admin</a></li>
        <li class="navmenu_element"><a class="navmenu_link" href="{{url_for('admin.index')}}">Admin Home</a></li>
        <li class="navmenu_element"><a href="{{url_for('admin.users')}}" class="navmenu_link">Users</a></li>
        <li class="navmenu_element"><a href="{{url_for('admin.plays')}}" class="navmenu_link">Plays</a></li>
        <li class="navmenu_element"><a href="{{url_for('admin.reporting')}}" class="navmenu_link">Reporting</a></li>
        <li class="navmenu_element"><a href="{{url_for('auth.logout')}}" class="navmenu_link">Logout</a></li>
    </ul>
</nav>
