{% extends 'theatre/partials/base.html' %}
{% block main %}

<h3 class="index_header">This is the index page. Congrats on making it this far. This means you set things up correctly.</h3>
    <ul>
        <li><a class="lnkmod" href="/api/admin/test">Admin API test page</a></li>
        <li><a class="lnkmod" href="/api/client/test">Client API test page</a></li>
        <li><a class="lnkmod" href="awETR3w4wtegZW#56ews">This link goes nowhere and is used as a placeholder for an unvisited link color</a></li>
    </ul>

{% endblock %}
